extends ../_.pug
block body
	#app
		nav
			.left: p
				| $#{"\u0020"}
				span#gold
			.center: p
				| Miners:#{"\u0020"}
				span#miners
			.right: .card: button#play(type="button"): a(href="/") Quit
		#game
			button#buyminer(type="button") Buy Miner
			br
			i
				| Cost: $
				span#minercost
	script(
		type="module"
		src="index.ts"
	)
